<div class="card">
    <div class="btns">
        <input id="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Задать параметры"
            aria-label="Search" (keyup)="onKey($event)">
        <br>
        <ul *ngFor="let item of filteredData(types)">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <span class="badge badge-success">{{item.type}}</span>
        </ul>
        <br>
        <br>
        <button type="button" class="btn btn-success" data-toggle="modal" id="live-btn" (click)="toLive()" data-target="#exampleModal">
            Live распознование
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Live</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toLive()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="live">
                        <iframe src="http://127.0.0.1:8000/" frameborder="0" width="100%" height="420px">
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        <br>
        <br>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"
            id="upload-btn">
            Загрузить файл
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input class="form-control form-control-lg" id="formFileLg" (change)="onChange($event)"
                            type="file" accept=".jpg, .jpeg, .png, .mp4, .avi , .OGG, .MP4, .M4P, .M4V " required/>
                    </form>
                    <br>
                    <!--  
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            -->
                    <div class="container text-center jumbotron" *ngIf="link">
                        <h2>{{link}}</h2>
                    </div>
                    <div class="container" *ngIf="loading">
                        <h3>Loading ...</h3>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" (click)="onUpload()">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>