.example-spacer {
    flex: 1 1 abs($number: 2rem);
  }
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
input[type="file"] {
  display: flex;
}
.card {
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 50%;
  padding-right: 20%;
}
.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.7%;
}
#live-btn {
  background-color: rgb(34, 158, 45);
}
.btn {
  width: 60%;
}
.btns {
  padding-left: 30%
}
#live-rec {
  height: 400px;
}
nav {
  height: 100px;
}
#add {
    width: 20px;
    padding-right: 3%;
}
#save {
    width: 20%;
}
ul {
    display: inline-block
}
.card {
    background-image: url(bg-logo.png);
    background-position: left 80px;
    background-repeat: no-repeat;
    
}